
.post-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-left: 40px; 
}

.post-container {
    width: 1400px; 
    max-width: 1200px; 
    background: #ffffff;
    padding: 40px; 
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    text-align: center;
    margin-left: 60px; 
    height: 600px; 
}


.post-container .post-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff; 
}


.post-content {
    font-size: 26px;
    color: #000000;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.6; 
}

.post-category, .post-rating, .post-username {
    font-size: 22px; 
    color: #5a5a5a;
    text-align: center; 
}


.post-actions {
    display: flex;
    gap: 28px; 
    margin-top: 30px;
    justify-content: center;
    color: #cc0000;
}


.icon {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.4);
    color: #007bff;
}


.logout-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px; 
    font-size: 18px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; 
}

.logout-button:hover {
    background-color: rgb(0, 85, 176) 
}