
.TopNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 60px;
    background-color: #303030;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}


.TopNavBar h1 {
    color: #007bff;
    margin: 0;
    font-size: 24px;
    flex-shrink: 0;
    cursor: pointer;
}

.TopNavBar form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    margin: 0 20px;
}

.TopNavBar input {
    width: 100%;
    max-width: 400px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    background-color:#202020;
}

.TopNavBar button {
    height: 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.TopNavBar button:hover {
    background-color: #007bff;
}


.TopNavBar img {
    height: 35px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.TopNavBar img:hover {
    transform: scale(1.1);
}

.SideNavBar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #303030;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}


.SideNavBar p {
    background-color: white;
    color: black;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.SideNavBar p:hover {
    background-color: #007bff;
    color: white;
}

